<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251556877224-dbqp6n0cjo3a8jv7vjrtsohj4dl9eh8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251556877224-dbqp6n0cjo3a8jv7vjrtsohj4dl9eh8b</string>
	<key>API_KEY</key>
	<string>AIzaSyBXMTLFelsIqglbR7MmzTQR7EfnJStjYls</string>
	<key>GCM_SENDER_ID</key>
	<string>251556877224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAppBloc</string>
	<key>PROJECT_ID</key>
	<string>authen-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>authen-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251556877224:ios:9976fa123506d56af5c39d</string>
</dict>
</plist>